.featurecards {
  display: flex;
  padding: 56px 32px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
  width: calc(33.33% - 10px);
  box-sizing: border-box;
  margin-bottom: 0;
  max-width: 50%;
  height: 40vh;
  overflow: hidden;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.cardtext {
  color: #1c2a3a;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}

.callp {
  width: 255px;
  color: #47535f;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }

  .featurecards {
    margin-left: 104px;
    width: 69%;
    margin-top: 72px;
  }
  .callp {
    width: 158px;
  }
}
