.topsection {
  margin-top: 26vh;
  margin-left: 60vh;
}
.eihtsection {
  display: flex;
  max-width: 710px;
  margin-top: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 38vh;
}

.ima {
  flex: 1;
}

.card-img {
  width: 100%;
  height: auto;
}

.text-container {
  flex: 2;
  padding: 16px;
}

.textp {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
}
.toop {
  margin-left: 20vh;
  margin-bottom: 30px;
  font-size: x-large;
  color: #1c2a3a;
}
