.aboutspace {
  display: flex;
  justify-content: space-between;
  padding: 0px 160px;
  align-items: center;
  gap: 140px;
  margin-top: 230px;
  margin-bottom: 25vh;
}

.phone {
  /* width: 600.045px; */
  height: 603.892px;
  flex-shrink: 0;
  z-index: 1;
}

.huu {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 30px;
}

.pauu {
  color: #47535f;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 48px */
}

@media only screen and (max-width: 600px) {
  .aboutspace {
    margin-top: 110px;
  }

  .phone {
    visibility: hidden;
    display: none;
  }
  .adjst {
    margin-left: -10vh;
  }
  .pauu {
    font-size: 16px;
    max-width: 35vh;
    margin-top: 5vh;
  }
}
