.aboutspace {
  display: flex;
  justify-content: space-between;
  padding: 0px 160px;
  align-items: center;
  gap: 140px;
  margin-top: 80px;
}

.phone {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  z-index: 1;
}

.huu {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 30px;
}

.pauu {
  color: #47535f;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 48px */
}
