.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: #1c2a3a;
  color: white;
  font-weight: bold;
  
}
.navbar ul {
  list-style: none; 
  margin-right: -12vh;
  margin-left: -17vh;
}

.nav-link {
  text-decoration: none;
  color: white; 
  cursor: pointer;
}

.headerlogo {
  width: 38px;
  height: 36px;
  flex-shrink: 0;

}

.navbutton {
  display: flex;
  width: 205px;
  height: 52px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  background: 
    linear-gradient(90deg, #316362 -27.98%, #88b7a4 42.96%);
}
.marig{
  margin-right: -4vh;
}
.headertitle {
  color: rgba(255, 255, 255, 0.7);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
}
.vector1 {
  position: relative;
  width: 100%;
  height: 858px;
  flex-shrink: 0;
  background: linear-gradient(90deg, #1c2a3a, #316362);
}
.headertextalign {
  align-self: stretch;
}
.headertext {
  color: #fdfdfd;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 90px */
  margin-left: 30vh;
  margin-top: 20vh;
}
.section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.doctors {
  color: #88b7a4;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.iphone {
    position: absolute; 
    top: 58%;
    left: 43%;
    transform: translate(84%, -58%);
 
    height: 649.646px;
    z-index: 1; /
}


.belowtext{
    align-self: stretch;
    max-width:38%;
    color: #FBFBFB;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
    margin-left: 30vh;
}
.buttongroup{
    margin-top: 5vh;
    margin-left: 30vh;
}
.downloadapp{
    display: flex;
width: 302px;
height: 80px;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 4px;
background: linear-gradient(90deg, #316362 -27.98%, #88B7A4 42.96%);
color: white;
font-size: medium;
}

.headersvg{
    margin-top: 5vh;
    margin-left: 30vh;
}
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }
  
  .navbar ul {
    margin-right: 0;
  }
  
  .headertext {
    margin: 20px 13px;
  }
  
  .section1 {
    flex-direction: column;
  }
  
  .iphone {
   display: none;
  }
  
  .belowtext {
    max-width: 100%;
    margin-left: 10px;
  }
  
  .buttongroup {
    margin-left: 10px;
  }
  
  .headersvg {
    margin-left: 10px;
    height: 36px;
  }
  .navbar ul{
    display: none;
  }
  .navbutton{
    display: none;
  }  
}
