.hos {
  display: flex;
  width: 85%;
  padding: 109px 160px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(229, 239, 235, 0.7) 0%,
    rgba(229, 239, 235, 0.7) 10%
  );
  height: 50vh;
  overflow: hidden;
  z-index: -1;
}
.fl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20vh;
  margin-left: 40vh;
}
