.sixthsection {
  background: url(../images/hos.jpeg) center/cover no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.t {
  color: #ffffff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 10px;
  }
}
