.topthird {
  margin-top: 20vh;
  position: relative;
}

.thirdsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.thirdsectionimage {
  position: relative;
  height: 598.926px;
  z-index: 2;
  display: block;
}

.thtext-container {
  margin-left: 11vh;
  z-index: 1;
}
.thtext {
  font-size: 56px;
  max-width: 53%;
  position: relative;
  margin-left: 20px;
}
.thtextp {
  margin-top: 30px;
  color: #47535f;
  text-align: center;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 47%;
}

.mapOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    216,
    212,
    212,
    0.5
  ); /* Adjust the alpha channel for transparency */
  z-index: 0; /* Set a higher z-index to appear above the map */
}
.mapImage {
  height: 70vh;
  width: 100%;
  margin-top: -80vh;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  topthird {
    margin-top: 10vh;
  }
  .thirdsectionimage {
    visibility: hidden;
    display: none;
  }
  .thtext {
    font-size: 24px;
    max-width: 76%;
  }
  .thtextp {
    font-size: 16px;
    max-width: 97%;
    margin-left: -49px;
  }
  .mapImage {
    height: 22vh;
    width: 96%;
  }
  .mapOverlay {
    top: -8vh;
    height: 178%;
  }
}
